<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BACK.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{71,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,97}}</string>
                <key>sourceSize</key>
                <string>{71,97}</string>
            </dict>
            <key>FP1.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{394,150},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,96}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>FP10.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{296,150},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,96}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>FP11.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{71,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,94}}</string>
                <key>sourceSize</key>
                <string>{71,94}</string>
            </dict>
            <key>FP12.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{391,222},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>FP13.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{294,222},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>FP2.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{195,729},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>FP3.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,97}}</string>
                <key>sourceSize</key>
                <string>{71,97}</string>
            </dict>
            <key>FP4.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{292,659},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>FP5.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>FP6.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{99,585},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>FP7.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{196,440},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>FP8.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>FP9.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{99,440},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>HT1.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{69,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,96}}</string>
                <key>sourceSize</key>
                <string>{69,96}</string>
            </dict>
            <key>HT10.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{390,369},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>HT11.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{198,148},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,96}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>HT12.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{70,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,97}}</string>
                <key>sourceSize</key>
                <string>{70,97}</string>
            </dict>
            <key>HT13.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{389,658},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>HT2.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{390,514},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>HT3.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{73,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,96}}</string>
                <key>sourceSize</key>
                <string>{73,96}</string>
            </dict>
            <key>HT4.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{197,220},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>HT5.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{99,657},{71,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,94}}</string>
                <key>sourceSize</key>
                <string>{71,94}</string>
            </dict>
            <key>HT6.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{100,148},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,96}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>HT7.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{293,514},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>HT8.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{196,656},{71,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,94}}</string>
                <key>sourceSize</key>
                <string>{71,94}</string>
            </dict>
            <key>HT9.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{196,513},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>HTT1.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{293,369},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>HTT10.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{196,367},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>HTT11.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{100,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>HTT12.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>HTT13.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{397,76},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{72,96}</string>
            </dict>
            <key>HTT2.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{99,513},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>HTT3.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>HTT4.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{293,586},{71,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,94}}</string>
                <key>sourceSize</key>
                <string>{71,94}</string>
            </dict>
            <key>HTT5.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{390,442},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>HTT6.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{99,367},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>HTT7.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{390,296},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>HTT8.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{389,586},{70,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{70,94}</string>
            </dict>
            <key>HTT9.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>MH1.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{196,585},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,95}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>MH10.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{72,96}</string>
            </dict>
            <key>MH11.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{293,296},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>MH12.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{196,294},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>MH13.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>MH2.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{293,442},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>MH3.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{100,220},{72,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>MH4.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>MH5.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{98,730},{72,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,91}}</string>
                <key>sourceSize</key>
                <string>{72,91}</string>
            </dict>
            <key>MH6.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{99,294},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>MH7.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,96}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>MH8.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{298,77},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>MH9.BMP</key>
            <dict>
                <key>frame</key>
                <string>{{200,74},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{72,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pukepai.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d309854aff394b1185189a0aec5e2e70$</string>
            <key>textureFileName</key>
            <string>pukepai.png</string>
        </dict>
    </dict>
</plist>
